<div class="jumbotron text-center">
  <h1> IdentiFly</h1>
  <p class="lead"> Welcome to IdentiFly, where you can find what you nede on the fly!</p>

</div>

<div class="row">
  <div class="col-md-4">
    <h3>How it works</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ornare ac odio vitae finibus. Mauris tristique quam vitae neque rhoncus sodales. Vestibulum accumsan nisi nisi, id tempus ligula sagittis at. Donec vel imperdiet magna. In lacinia ante lectus, in eleifend turpis maximus quis. Sed sodales velit in feugiat tempus. Vestibulum dolor orci, pellentesque a sodales sit amet, venenatis nec magna. Cras convallis porttitor orci, sed pulvinar sem pretium sit amet. Fusce turpis libero, lacinia non efficitur sed, pharetra varius diam. Vivamus vel nisl arcu.</p>
  </div>
  <div class="col-md-4">
    <h3>How it works</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ornare ac odio vitae finibus. Mauris tristique quam vitae neque rhoncus sodales. Vestibulum accumsan nisi nisi, id tempus ligula sagittis at. Donec vel imperdiet magna. In lacinia ante lectus, in eleifend turpis maximus quis. Sed sodales velit in feugiat tempus. Vestibulum dolor orci, pellentesque a sodales sit amet, venenatis nec magna. Cras convallis porttitor orci, sed pulvinar sem pretium sit amet. Fusce turpis libero, lacinia non efficitur sed, pharetra varius diam. Vivamus vel nisl arcu.</p>
  </div>
  <div class="col-md-4">
    <h3>How it works</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ornare ac odio vitae finibus. Mauris tristique quam vitae neque rhoncus sodales. Vestibulum accumsan nisi nisi, id tempus ligula sagittis at. Donec vel imperdiet magna. In lacinia ante lectus, in eleifend turpis maximus quis. Sed sodales velit in feugiat tempus. Vestibulum dolor orci, pellentesque a sodales sit amet, venenatis nec magna. Cras convallis porttitor orci, sed pulvinar sem pretium sit amet. Fusce turpis libero, lacinia non efficitur sed, pharetra varius diam. Vivamus vel nisl arcu.</p>
  </div>
</div>
